body{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.selector-for-some-widget {
	box-sizing: content-box;
  }


	li{
		display: inline-block;
		margin: 10px 100px 10px 0;



	}	
		a{
			color: white;
			text-decoration: none;
		}
		.logo{
			position: float;
			background-image: url("../assets/imagens/capa.jpg");
			background-repeat: no-repeat;
			opacity: 0.65;
			background-size: 100% 400px;
			height: 400px;
			margin: 0;
		}
		.menu{
			padding: 0 !important;
		}
		.nav-item{
			margin-left: 65px !important;
			margin-right: 65px !important;
		}


	
	.center{
		height: 40ex;
		width: 100ex;
	}

#form{
	padding: 2em;
	text-align: center!important;
	background-color: #8a8a8a;
	margin: 0 auto;
}
.form-row{
	margin-right: -10px!important;
	margin-left: 370px!important;
}

input{
	margin-left: 20em;
}
textarea{
	margin-left: 27em;
}
nav{
	text-align: center;
	line-height: 0 !important;
}
.cilas{
	font-family: fantasy;
	text-align: right;
	font-size: 80px;
	padding-top: 240px;
	padding-right: 60px;
	color: darkslategrey;
}